[submodule "Auth-Funcs-API"]
	path = Auth-Funcs-API
	url = https://github.com/P3piK/Auth-Funcs-API.git
[submodule "Auth-Funcs-MQ"]
	path = Auth-Funcs-MQ
	url = https://github.com/P3piK/Auth-Funcs-MQ.git
